<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Recipes</title>
</head>
<body layout:fragment="body" class="d-flex flex-column h-100">

<main class="flex-shrink-0">
    <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5 bg-color5">
                <h1 class="fw-bolder">Receitas</h1>
                <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
            </div>
            <a class="btn bg-danger text-white text-uppercase" th:href="@{/recipes/new}" th:if="${isAdmin}">Add new recipe</a>
            <br>


            <div class="row gx-5">
                <div th:each="recipe :${recipes}" class="col-lg-6">
                    <div class="position-relative mb-5">
                        <a th:href="@{/recipes/{recipeId}(recipeId=${recipe.id})}"
                        ><h1 th:text="${recipe.name}"

                            class="h3 fw-bolder text-decoration-none link-dark "
                        >Project name</h1></a>
                        <img class="img-fluid rounded-3 mb-3" th:src="@{${recipe.imageUrl}}"  alt=""/>
                        <p th:text="${recipe.description}" class="lead fw-bolder text-primary">Project name</p>
                        <p th:text="${recipe.servings}" class="lead fw-bolder text-primary">Project name</p>
                        <p th:text="${recipe.prepTime}" class="lead fw-bolder text-primary">Project name</p>
                        <p th:text="${recipe.category}" class="lead fw-bolder text-primary">Project name</p>

                        <br>

                        <a class="text-dark"
                           th:href="@{/recipes/edit/{recipeId}(recipeId=${recipe.id})}" th:if="${isAdmin}">Edit
                            recipe</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>