<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Recipes</title>
</head>
<body layout:fragment="body" class="d-flex flex-column h-100">

<main class="flex-shrink-0">
    <!-- Page Content-->
        <div class="container px-5 mt-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder text-primary">Recipes</h1>
                <a class="btn bg-danger text-white text-uppercase" th:href="@{/recipes/new}" th:if="${isAdmin}">Add new recipe</a>

            </div>
        </div>

<!--Main-->
        <div class="container">
            <div class="row rounded-5 bg-info-subtle border border-info-subtle">
            <div class="col-11 col-md-2 p-5">
                <h3 class="text-primary">Category</h3>
                <ul class="">
                    <li class="text-primary">All</li>
                    <li class="text-primary"><i class="fa-solid fa-drumstick-bite"></i> Meat</li>
                    <li class="text-primary">Fish</li>
                    <li class="text-primary">Vegetarian</li>
            </div>

            <div class="col-10" style="border-left: 1px solid var(--bs-warning-border-subtle)">
            <div class="row justify-content-around align-content-center">

                <div th:each="recipe :${recipes}" class="col-10 col-md-5  m-3 ">
                    <div class="row rounded-3 shadow-sm bg-white p-3">
                    <div class="col-4 ">
                        <img class="w-100 rounded border border-info-subtle" th:src="@{${recipe.imageUrl}}" alt=""/>
                    </div>
                    <div class="col-8 align-content-around">
                        <div class="row my-auto">
                            <div class="col-12">
                                <a th:href="@{/recipes/{recipeId}(recipeId=${recipe.id})}" class="text-primary mt-5 text-decoration-none"
                                ><h4 th:text="${recipe.name}"></h4></a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col pb-0 ">
                                <i class="bi bi-clock-history"></i> : <span th:text="${recipe.prepTime}" class="text-primary"></span>min </div>

                            <div class="col text-end">

                                <p class="text-primary">
                                    <i class="fa-solid fa-drumstick-bite text-warning" th:if="${recipe.category} == 'Meat'"></i>
                                    <i class="fa-solid fa-fish" style="color: hsl(188, 70%, 32%)"
                                       th:if="${recipe.category} == 'Fish'"></i>
                                    <i class="fa-solid fa-leaf text-success" th:if="${recipe.category} == 'Vegetarian'"></i>
                                    <span th:text="${recipe.category}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</main>