<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>User</title>
</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section  class="py-5">
        <div class="container px-5 my-5">
            <p class="lead fw-bolder text-primary">Hello <span th:text="${user.firstName}"></span></p>
            <hr>


            <H3 class="fw-bolder"> Your Meal Planner</H3>

            <div class="slider-container">
                <form role="form" method="post" th:action="@{/generateSchedule}" th:object="${diet}">
                <div class="mx-auto">
                        <input type="range" class="form-range protein-slider" min="0" max="100" step="25"
                               id="Protein">
                        <label for="Protein" id="fish-label" class="slider-label">Fish</label>
                        <output id="FishOut" for="Protein">50%</output>
                        <label id="meat-label" class="slider-label">Meat</label>
                        <output id="MeatOut" for="Protein">50%</output>
                        <input type="hidden" id="fishValue" th:field="*{fishPercentage}">
                        <input type="hidden" id="meatValue" th:field="*{meatPercentage}">
                </div>
                    <div class="mx-auto">
                        <input type="range" class="form-range protein-slider" min="0" max="100" step="25"
                               id="Vegetarian" th:field="*{vegetablePercentage}">
                        <label for="Vegetarian" id="VegetarianLabel" class="slider-label">Vegetarian</label>
                        <output id="VegetarianOut" for="Protein">0%</output>
                    </div>
                    <div class="mx-auto">
                        <label for="date" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="date" th:field="*{startDate}" required>
                        <p class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
                    </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>

            </div>
            <div>
                <h3>Meal Plan</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Week Day</th>
                        <th scope="col">Meal</th>
                        <th scope="col">Recipe</th>
                        <th scope="col">Category</th>
                        <th scope="col">Shuffle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="meal : ${meals}">
                        <td th:text="${meal.date}"></td>
                        <td th:text="${meal.name}"></td>
                        <td th:text="${meal.mealType.name}"></td>
                        <td th:text="${meal.recipe.name}"></td>
                        <td th:text="${meal.recipe.category}"></td>
                        <td>
                            <a class="text-dark"
                                 th:href="@{/shuffleMeal/{mealId}(mealId=${meal.id})}" >Edit Meal</a>
                        </td>


                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>
</main>
